@import './../../../assets/variables.scss';

.btn {
  border: none;
  border-bottom: 2px solid $goldColor;
  border-radius: $borderRadius;
  padding: 3px 20px 3px 15px;
  text-decoration: none;
  font-size: 1.3rem;
  color: $goldColor;
  background-color: $darkBlackColor;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: $breakpoint-large_phone) {
  .btn {
    font-size: 1.6rem;
  }
}
