@import './../../../assets/variables.scss';

.btn {
  border: none;
  border-bottom: 2px solid $goldColor;
  border-bottom-right-radius: $borderRadius;
  padding: 3px 20px 3px 15px;
  text-decoration: none;
  font-size: 1rem;
  color: $goldColor;
  background-color: $darkBlackColor;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  &Big {
    @extend .btn;
    font-size: 1.3rem;
  }
}
