@import 'theme/variables.scss';

.link {
  text-decoration: none;
}

.title {
  color: $goldColor;
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: $breakpoint-tablet) {
  .title {
    font-size: 1.8rem;
  }
}
@media (max-width: $breakpoint-large_phone) {
  .link {
    flex-basis: 100%;
    text-align: center;
  }
}
