@import 'theme/variables.scss';

.btn {
  border: none;
  border-bottom: 2px solid $goldColor;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 1.1rem;
  color: $goldColor;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    transform: scale(1);
    opacity: 0.8;
  }
}

@media (max-width: $breakpoint-large_phone) {
  .btn {
    font-size: 1.1rem;
  }
}
