@import './../../../../../../assets/variables.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 15px 10px;
  padding: 3px 10px;
  border: none;
  border-bottom: 3px solid $goldColor;
  border-bottom-right-radius: $borderRadius;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: 0.1s;

  &:hover {
    transform: scale(1.1);
    z-index: 2;

    & .flag {
      filter: none;
    }
  }

  .link {
    text-decoration: none;
    text-align: center;
  }

  .code {
    padding: 2px 0 0;
    font-size: 1.5rem;
    color: $whiteColor;
    text-align: center;
  }

  .mid {
    padding: 3px 0 0;
    color: $goldColor;
    font-size: 1.5rem;
  }

  .name {
    padding: 5px 0 0;
    font-size: 0.9rem;
    color: $whiteColor;
  }

  .flag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.1s;
    overflow: hidden;
    filter: blur(4px);

    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: -100px;
      right: -100px;
      bottom: -100px;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .wrapper {
    width: 275px;
    margin: 0 10px 10px;
  }
}