@import './../../../assets/variables.scss';

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000, $alpha: 0.9);
  z-index: 99;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  min-height: 250px;
  border-radius: 25px;
  box-shadow: 9px 9px 20px 15px $darkBlackColor;
  background-color: $darkBlackColor;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' stroke-opacity='0.17' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform=''/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  animation: openAnimation 0.3s linear both;

  .title {
    flex-basis: 100%;
    padding: 10px 50px 5px;
    font-size: 1.6rem;
    color: $goldColor;
  }

  .modalContent {
    flex-grow: 1;
    display: flex;

    .leftSide {
      align-self: stretch;
      display: flex;
      align-items: center;
      flex-basis: 35%;
      border-right: 2px solid rgba($color: $whiteColor, $alpha: 0.15);
      position: relative;
      overflow: hidden;

      &TextContainer {
        transform: rotate(-50deg);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Text {
        font-size: 1.6rem;
        color: rgba($color: $whiteColor, $alpha: 0.1);
        transform: translateY(20px) scale(1.5);
        user-select: none;
      }
    }

    .rightSide {
      flex-basis: 70%;

      .content {
        padding: 10px 15px;
        font-size: 1rem;
        color: $whiteColor;
        text-align: left;

        li {
          padding-bottom: 5px;
        }

        a {
          color: $goldColor;
        }
      }
    }
  }

  .closeBtn {
    position: absolute;
    right: 10px;
    top: 0px;
    color: $redColor;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    z-index: 2;

    &:hover {
      transform: scale(1.2) rotate(90deg);
    }
  }
}

@keyframes openAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: $breakpoint-small_tablet) {
  .modal {
    width: 450px;

    .modalContent {
      .leftSide {
        &Text {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-large_phone) {
  .modal {
    width: 80vw;
    min-height: 150px;

    .modalContent {
      flex-direction: column;

      .leftSide {
        order: 1;
        display: block;
        line-height: 35px;
        flex-basis: 35px;
        border: none;
        border-top: 2px solid rgba($color: $whiteColor, $alpha: 0.15);

        &TextContainer {
          transform: rotate(-2deg);
        }

        &Text {
          font-size: 1.1rem;
          transform: translateY(0px) scale(1.5);
        }
      }

      .rightSide {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
    }
  }
}
