@import './../../../../assets/variables.scss';

.link {
  display: inline-flex;
  align-items: center;
  border-bottom: 2px solid $goldColor;
  border-bottom-right-radius: $borderRadius;
  padding: 2px 15px 2px 0;
  text-decoration: none;
  font-size: 0.8rem;
  color: $whiteColor;
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  padding: 0 5px 0 10px;
  color: $whiteColor;
  font-size: 1.4rem;
}
