@import 'theme/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curiosity {
  margin-bottom: 30px;
  color: $whiteColor;
  font-size: 1rem;
  text-align: center;

  span {
    font-size: 1.4rem;
    animation: showAndHide 0.7s infinite linear;
  }
}

@keyframes showAndHide {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
