@import 'theme/variables.scss';

.viewTitle {
  margin-bottom: 30px;
  text-align: center;

  .title {
    color: $whiteColor;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .subtitle {
    font-size: 0.7rem;
    color: $whiteColor;
  }
}

@media (max-width: $breakpoint-large_phone) {
  .viewTitle {
    margin-bottom: 15px;
  }
}
