$goldColor: rgb(178, 151, 0);
$goldRGBAColor: rgba(178, 151, 0, 0.5);
$darkBlackColor: rgb(32, 31, 31);
$lightBlackColor: rgb(49, 45, 45);
$whiteColor: #ccc;
$redColor: rgb(173, 24, 24);
$facebookColor: #3b5998;
$githubColor: #fafafa;
$linkedInColor: #0e76a8;
$borderRadius: 5px;

$breakpoint-tablet: 1024px;
$breakpoint-small_tablet: 768px;
$breakpoint-large_phone: 414px;
$breakpoint-medium_phone: 375px;
$breakpoint-small_phone: 360px;

:export {
  goldColor: $goldColor;
  goldRGBAColor: $goldRGBAColor;
  darkBlackColor: $darkBlackColor;
  lightBlackColor: $lightBlackColor;
  whiteColor: $whiteColor;
  redColor: $redColor;
  facebookColor: $facebookColor;
  githubColor: $githubColor;
  linkedInColor: $linkedInColor;
  borderRadius: $borderRadius;
}
