@import './../../assets/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: $darkBlackColor;
  box-shadow: 0px 5px 25px 3px $goldColor;
  z-index: 1;
}