@import 'theme/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding: 5px 0;
    text-align: center;
    color: $whiteColor;
    font-size: 1rem;
  }

  .select {
    width: 200px;
    padding: 6px 5px;
    border: 0;
    border-bottom: 2px solid $goldColor;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $lightBlackColor;
    color: $whiteColor;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: $breakpoint-large_phone) {
  .wrapper {
    .select {
      width: 230px;
    }
  }
}
