@import './../../assets/variables.scss';

.wrapper {
  padding: 0 0 8px;
  background-color: $darkBlackColor;
  box-shadow: 0px -0px 20px 30px $darkBlackColor;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.paragraph {
  padding: 0 10px;
  font-size: 0.9rem;
  color: $whiteColor;
}
