@import './../../../../assets/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $whiteColor;
  font-size: 1.8rem;
}

.effectiveDate {
  margin-bottom: 30px;
  font-size: 0.8rem;
  color: $whiteColor;
}
