@import 'theme/variables.scss';

.wrapper {
  display: flex;
  align-items: center;

  .navItem {
    padding: 0 10px;
    font-size: 1.2rem;
    color: $whiteColor;
    transition: 0.1s;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    &Active {
      @extend .navItem;
      color: $goldColor;
      animation: 0.1s setActive linear both;
    }
  }
}

@keyframes setActive {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@media (max-width: $breakpoint-small_tablet) {
  .wrapper {
    .navItem {
      font-size: 1.1rem;

      &Active {
        animation: none;
      }
    }
  }
}
@media (max-width: $breakpoint-large_phone) {
  .wrapper {
    padding-top: 20px;
    flex-basis: 100%;
    justify-content: center;
  }
}
